* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
}

article {
  border: 5px solid black;
  width: 825px;
  margin: 50px auto;
}

.heading-one {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #f7f7f7;
  padding: 15px;
}
.price {
  float: left;
  font-size: 30px;
}
.shipping {
  float: right;
  color: rgb(152, 143, 143);
  text-transform: uppercase;
  font-weight: bold;

  top: 0;
  right: 0;
  margin-top: 10px;
}

.space {
  clear: both;
}

a.info:link,
a.info:visited {
  color: black;
}
a.info:hover,
a.info:active {
  text-decoration: none;
}
.info {
  color: black;
  margin-bottom: 30px;
  display: inline-block;
}
button {
  background-color: black;
  border: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  width: 100%;
}
button:hover {
  color: black;
  border-top: 5px solid black;
  background-color: white;
  text-decoration: none;
}

.pr {
  font-weight: bold;
  text-transform: uppercase;
  clear: both;
}

.list {
  list-style: square;
}
li {
  margin-bottom: 20px;
  margin-left: 30px;
}
.sale {
  background-color: red;
  color: white;
  position: absolute;
  padding: 7px 15px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: -20px;
  margin-left: -40px;
}

.black {
  background-color: black;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.green {
  background-color: green;
}
.brown {
  background-color: brown;
}
.color {
  display: inline-block;

  margin-right: 10px;
  padding: 10px 10px;
}

.img {
  float: left;
  margin-right: 40px;
}

.middle-container {
  width: 243px;
  float: left;
  margin-right: 39px;
  padding-top: 20px;
  margin-top: 8px;
}

.last-container {
  width: 243px;
  float: left;
  margin-top: 33px;
}
